
<div class="grid place-items-center h-full w-full content-center">
  <div class="text-xl font-bold">
    No homepage has been setup.
  </div>
  <div class="text-lg">
    Create a new page with slug 'home' in the admin panel.
  </div>
</div>
