---
import type { Menu, ReusableContent } from "@turbopress/api/types";
import RenderContent from "./RenderContent.astro";
import RenderMenu from "./RenderMenu.astro";
interface Props {
  blocks?: (Menu | ReusableContent)[];
}

const { blocks = [] } = Astro.props;
---

{
  blocks.map((block) => {
    if (!block.id) return;
    if (block.blockType == "reusableContent" && block.reference?.value)
      return <RenderContent content={block.reference.value} />;
    if (block.blockType == "menu" && block.menus)
      return <RenderMenu menus={block.menus} />;
    return <div>{block.id}</div>;
  })
}
