---
import type { Content } from "@turbopress/api/types";
import { getContentSingle } from "../services/api/content.service";
import RenderSiteTitle from "./header/RenderSiteTitle.astro";
import RenderMenu from "./menu/RenderMenu.astro";
interface Props {
  content: string | Content;
}

const content: Content | undefined =
  typeof Astro.props.content == "string"
    ? await getContentSingle(Astro.props.content)
    : Astro.props.content;

if (!content?.blocks) return;

const blocks = content.blocks;
---

{
  blocks.map((block) => {
    if (!block.id) return;
    if (block.blockType == "siteTitle")
      return <RenderSiteTitle siteTitle={block} />;
    if (block.blockType == "menu" && block.menus)
      return <RenderMenu menu={block} />;
    return <div>block = {block.id}</div>;
  })
}
