---
import type { MainMenu } from "@turbopress/api/types";
interface Props {
  menus: {
    mainMenu: MainMenu;
    id?: string;
  }[];
}

const { menus } = Astro.props;

const mainMenus: MainMenu[] = menus.map((menu) => menu.mainMenu);
---

{
  mainMenus.map((menu) => {
    return (
      <div>
        Main Menu : {menu.label}
        {menu.subMenu?.map((submenu) => {
          return <div> Sub Menu : {submenu.link.label}</div>;
        })}
      </div>
    );
  })
}
