---
import type { SiteTitle } from "@turbopress/api/types";
import Link from "../link/Link.astro";
interface Props {
  siteTitle: SiteTitle;
}

const { siteTitle } = Astro.props;
---

<div class="flex-grow">
  <Link link="/">
    <div class="font-bold text-lg">{siteTitle.siteName}</div>
  </Link>
  <div class="w-full"></div>
</div>
