---
import type {
  FormattedElement,
  FormattedText,
  Layout,
} from "@turbopress/api/types";
import RenderLayout from "../components/RenderLayout.astro";
interface Props {
  title?: string;
  description?: string;
  layout?: string | Layout;
  content?: (FormattedElement | FormattedText | any)[];
}
const {
  title = "AstroCMS",
  description = "Astro, TailwindCSS, and PayloadCMS",
  layout,
  content,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="h-screen">
    {
      layout && typeof layout != "string" && (
        <RenderLayout layout={layout} {content} />
      )
    }
    {!layout && <slot />}
  </body>
</html>
