---
interface Props {
  title?: string;
  description?: string;
}
const {
  title = "AstroCMS",
  description = "Astro, TailwindCSS, and PayloadCMS",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="h-screen">
    <slot />
  </body>
</html>
